<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fake Document Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/fontawesome/css/font-awesome.min.css">
  <script src="static/js/main.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="topnav" id="myTopnav">
    <a href="/" class="active">FAKEAM</a>
    <a href="/about" id="about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>
   <div class="flash2">
        FAKEAM is a fun app built by a FUTO student for learning purposes. its use should be for fun and educational purposes and should not be mistaking for the <a href="portal.futo.edu.ng">official school portal</a> !
        
   </div>
</body>
</html>